* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 70%;
    height: 500px;
    border: 15px solid #03a20e;
    margin: 7% auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f0ff);
    
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
}

.pipe-active {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 300px;
    padding-top: 20px;
    
}

.clouds-active {
    animation: clouds-animation 15s infinite linear;

}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -300px;
    }
    to {
        right: 100%;
    }
}


.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Coloca o vídeo por cima */
}
video {
    max-width: 80%;
    border: 5px solid #03a20e;
    border-radius: 10px;
}

